* {
  margin: 0;
}

body {
  padding: 198px 135px;
}

h2 {
  font-family: 'Lato',sans-serif;
  font-size: 64px;
  line-height: 1;
  letter-spacing: .05em;
  font-weight: 400;
  width:fit-content;
}

.html {
  color: #fff;
  background-color: #63A5E2;
  padding: 32px 64px;
  margin-bottom: 120px;
}

.css {
  color: #333;
  background-color: #DFBD44;
  padding: 32px 96px;
  margin-bottom: 120px;
  margin-bottom: 160px;
}

.js {
  color: #165606;
  background-color: #56AB9C;
  padding: 128px 96px;
}