* {
  margin: 0;
}

body {
  font-family: 'Noto Sans JP',sans-serif;
}

section {
  background-image: url(/images/Rectangle\ 4866.png);
  background-repeat: no-repeat;
  background-size: 1440px;
  max-width: 1440px;
  height: 780px;
  margin: 0 auto;
  padding-top: 120px;
}

.content {
  width: 1032px;
  background-color:#fff;
  border-radius: 30px;
  box-shadow: 6px 6px 4px 0 rgba(0, 0, 0, .1);
  margin: 0 auto;
}

h1 {
  background-color: #0f6488;
  color: #fff;
  font-size: 36px;
  line-height: 56px;
  font-weight: 900;
  letter-spacing: .1em;
  padding: 24px 0;
  text-align: center;
  border-radius: 30px 30px 0 0; 
}

span {
  display: inline-block;
  font-family: 'Robot',sans-serif;
  font-size: 48px;
  margin-right: 80px;
  letter-spacing: 0;
}



p {
  display: inline-block; 
  width: 512px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .075em; /* デザインカンプからテキストの調整 */
  margin-left: 80px; 
  vertical-align: top;
}

a {
  display: block;
  width: 336px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .075em; /* デザインカンプからテキストの調整 */
  margin-left: 80px;
  line-height: 1;
  color: #fff;
  position: relative;
  text-align: center;
  margin: 80px auto 0 auto;
  padding: 30px 40px;
  text-decoration: none;
  background-color: #FFA41B;
  border-radius: 16px;
  box-shadow: 8px 8px #A96D12;
}
.fas {
  display: inline-block;
  padding-right: 24px;
}

.inner {
   padding: 64px;
}