* {
  margin: 0;
}

a:nth-child(1){
  font-family: 'Open Sans',sans-serif;
  display: block;
  width: 336px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .1em; 
  line-height: 1;
  color: #fff;
  position: relative;
  text-align: center;
  margin: 80px auto 0 auto;
  padding: 30px 40px;
  text-decoration: none;
  background-color: #D67575;
  border-radius:5px;
}
a:nth-child(1):hover{
  background-color: #8E78E3;
}

a:nth-child(1):active{
  background-color: #fff;
}

a:nth-child(2){
  font-family: 'Open Sans',sans-serif;
  display: block;
  width: 336px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .1em; 
  line-height: 1;
  color: #333;
  position: relative;
  text-align: center;
  margin: 80px auto 0 auto;
  padding: 30px 40px;
  text-decoration: none;
  background-color: #DEE05E;
  border-radius: 16px;
  box-shadow: 4px 4px  #000000;
}

a:nth-child(2):hover{
  background-color: rgba(222, 224, 94, 50%);
  box-shadow: 4px 4px #000000;
}

a:nth-child(2):active{
  background-color: rgba(222, 224, 94, 50%);
  position: relative;
  box-shadow: none;
  top: 4px;
}

a:nth-child(3){
  font-family: 'Open Sans',sans-serif;
  display: block;
  width: 336px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .1em; 
  line-height: 1;
  color: #fff;
  position: relative;
  text-align: center;
  margin: 80px auto 0 auto;
  padding: 30px 40px;
  text-decoration: none;
  background-color: #AE62D1;
  border-radius: 16px;
  box-shadow: 8px 8px #A96D12;
}

a:nth-child(3):hover{
  background-color: #B98DCE;
  color: #333;
  border-radius: 0%;
  transition: 0.3s;
}

a:nth-child(3):active{
  box-shadow: none;
  position: relative;
  top: 8px;
  
}

a:nth-child(4){
  font-family: 'Open Sans',sans-serif;
  display: block;
  width: 336px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .1em; 
  line-height: 1;
  color: #fff;
  position: relative;
  text-align: center;
  margin: 80px auto 0 auto;
  padding: 30px 40px;
  text-decoration: none;
  background-color: #62A9D1;
  box-shadow: 4px 4px #3C4AC7;
}
a:nth-child(4):hover{
  background-color: #78D162;
  box-shadow: 4px 4px #1F5413;
  transition: 0.3s;
}

a:nth-child(4):active{
  box-shadow: none;
  position: relative;
  top:4px
}