* {
  margin: 0;
}

body {
  padding: 3rem;
}

.circle {
  background-color:royalblue;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  text-align: center;
  line-height: 280px;
  color: #fff;
  margin-bottom: 3rem;
}

.triangle {
  border-top: transparent solid 150px;
  border-bottom: #eee solid 150px;
  border-right: transparent solid 150px;
  border-left: transparent solid 150px;
  width: 0;
}