* {
  margin: 0;
  box-sizing:border-box;
}

/* .container {
  padding: 40px;
  background-color: dodgerblue;
} */

.bar {
  display: flex;
  height: 200px;
  margin: 40px;
  background-color: darkgreen;
}

.side-bar{
  background-color: darkblue;
  flex: 0 0 300px;
}

.main-bar {
  background-color: darkgoldenrod;
  flex: auto;
}

.flex-container {
  display: flex;
  background-color: #eee;
  padding: 40px;
}

img {
  flex: 0 0 300px;
  min-width: 300px;
  align-self: flex-start;
}

p{
  padding: 1em;
  line-height: 2;
}